mat-list {
    margin: 0 auto;
    width: 600px;
}

.new-btn {
    float: right;
    margin-right: 20px;
    margin-top: 15px;
}

span {
    padding: 20px;
}

mat-radio-button {
    padding-right: 20px !important;
}

label {
    padding: 20px;
}